---
layout: default
title: Tracking Groundwater Contamination at Coal Combustion Waste Disposal Sites « Ashtracker
---
<script>

var params, map;

console.log('{{ site.baseurl }}')

/**
 * Setup MapBox and load our default map so that we can begin
 * placing the pins we need to display search results
 */
var mapbox_id      = "developedsimple.g7pfo3pa",
    mapbox_mapid   = "map",
    mapbox_extent  = [39.8282, -98.5795],
    mapbox_zoom    = 4;    

map = L.mapbox.map(mapbox_mapid, mapbox_id, {maxZoom: 18}).setView(mapbox_extent, mapbox_zoom);

map.scrollWheelZoom.disable();


/**
 * Setup all of the facilities
 */
var markers = new L.MarkerClusterGroup({ disableClusteringAtZoom: 1, spiderfyOnMaxZoom: true, showCoverageOnHover: false, zoomToBoundsOnClick: true });

{% for facility in site.posts %}
  {% if facility.layout == 'facility' %}
  var facility_{{ forloop.index }} = L.marker(new L.LatLng({{ facility.coordinates[1] }}, {{ facility.coordinates[0] }}), {
    icon: L.mapbox.marker.icon({
      'marker-size': 'large',
      'marker-color': '2984BD',
      'marker-symbol': 'industrial'
    })
  }).on('click', function (e) {
    
    var map_current_zoom = map.getZoom();

    if ('{{ site.baseurl }}' == 'http://viableindustries.github.io/ashtracker/') {
      console.log('GITHUB ACTIVATED')
      window.location.href = '{{ site.baseurl }}{{ facility.url }}?zoom=' + map_current_zoom + '&lat={{ facility.coordinates[1]}}&lng={{ facility.coordinates[0] }}';  
    }
    else {
      window.location.href = '{{ facility.url }}?zoom=' + map_current_zoom + '&lat={{ facility.coordinates[1]}}&lng={{ facility.coordinates[0] }}';        
    }

  });

  markers.addLayer(facility_{{ forloop.index }});
  
  {% endif %}
{% endfor %}

map.addLayer(markers);

</script>

<h1>Ashtracker</h1>

<p class="lead">Ashtracker is tracking groundwater contamination at coal combustion waste disposal sites.</p>

<p>A longer description about Ashtracker's mission, involvement, or progress to date. This description should be at least two or three short paragraphs long. Perhaps a total of 12-15 sentences broken down into three very small paragraphs.</p>

<p>The content in this section is intended to inform and education the user on the basics of the site, perhaps first time visitors from outside sources that are new to the subject of coal ash, or perhaps a message directly to long time supports of the Environmental Integrity Project.</p>

<p>Regardless of what is put here, it has one primary purpose in life and that is "to make the person visiting the want to engage further by selecting a facility to learn more about".</p>

<div class="row">
  <div class="col-sm-6">
    <h4>Total <strong>Facilities</strong></h4>
    <span class="statistic">10</span>
  </div>
  <div class="col-sm-6">
    <h4>Total <strong>Wells</strong></h4>
    <span class="statistic">283</span>
  </div>
</div>