{% set site_name = 'Ashtracker' %}
{% set site_contact_street = 'site_contact_street' %}
{% set site_contact_city = 'site_contact_city' %}
{% set site_contact_state = 'site_contact_state' %}
{% set site_contact_zipcode = 'site_contact_zipcode' %}
{% set site_contact_phone = 'site_contact_phone' %}
{% set site_contact_fax = 'site_contact_fax' %}
{% set site_copyright = 'site_copyright' %}
{% set google_analytics_account = 'google_analytics_account' %}
{% set google_analytics_domain = 'google_analytics_domain' %}

<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="robots" content="{% if page.robots %}{{ page.robots }}{% else: %}{{ 'index,follow,archive' }}{% endif %}" />

    <meta name="google-site-verification" content="{{ google_site_verification }}" />

    <meta name="author" content="{{ page.page_author }}" />
    <meta name="description" content="{{ page.page_description }}" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:url" content="{{ page.path }}" />

    <meta name="author" content="{{ page.page_author }}" />
    <meta name="description" content="{{ page.page_description }}" />

    <meta property="og:site_name" content="{{ site_name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.path }}" />
    <meta property="og:title" content="{{ page.title }}" />

    <meta name="dcterms.type" content="Text" />
    <meta name="dcterms.identifier" content="{{ page.path }}" />
    <meta name="dcterms.format" content="text/html" />
    <meta name="dcterms.title" content="{{ page.title }}" />

    <meta name="fragment" content="!" />

    <title>{{ page.title }} | {{ site_name }}</title>

    <script src="/static/lib/mapbox/mapbox-1.4.0.min.js"></script>    
    <script src="/static/lib/leaflet/leaflet.markercluster.min.js"></script>    
    <script src="/static/lib/leaflet/oms.min.js"></script>    
    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    
    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/pjg5jkf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!-- Commons Cloud -->
    <link href="/static/lib/mapbox/mapbox-1.4.0.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/application.css" rel="stylesheet" type="text/css" /> 

    <!--[if lt IE 9]>
        <script src="/static/js/html5.js"></script>
    <![endif]-->

  </head>

  <body class="{{ page.page_class }}">
    
    <header class="site-header">
      <div class="brand-container">
        <a class="brand" href="/"></a>
      </div>

      <a class="info_area pull-left" href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
      <a class="map-area pull-left" href="#"><span class="glyphicon glyphicon-map-marker"></span></a>
      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
      <div class="navbar-collapse collapse">
        <nav role="navigation">
          <ul class="nav nav-justified">
            <li class="about"><a href="/index">About</a></li>
            <li><a href="/facilities" class="facilities">Facility Data</a></li>
            <!-- {% if page.permalink == '/downloads' %}
              <li class="active" role="presentation"><a href="/downloads"><span class="glyphicon glyphicon-download"></span> Downloads</a></li>
            {% else %}
              <li role="presentation"><a href="/downloads"><span class="glyphicon glyphicon-download"></span> Downloads</a></li>
            {% endif %} -->
            {% if page.permalink == '/glossary' %}
              <li class="active" role="presentation"><a href="/glossary"><span class="glyphicon glyphicon-book"></span> Glossary</a></li>
            {% else %}
              <li role="presentation"><a href="/glossary"><span class="glyphicon glyphicon-book"></span> Glossary</a></li>
            {% endif %}
            {% if page.permalink == '/help' %}
              <li class="active" role="presentation"><a href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            {% else %}
              <li role="presentation"><a href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            {% endif %}
          </ul>
        </nav>
       </div>
   </header>

        
    {% if page.page_class != 'glossary' and page.page_class != 'help' %}
      <div id="map" class="site-map"></div>

      <main role="content" class="site-content">
        <a name="content-top" id="content-top"></a>
    {% else %}
      <main role="content" class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
    {% endif %}

    {% block content %}{% endblock %}

    {% if page.page_class != 'glossary' and page.page_class != 'help' %}
      </main>
    {% else %}
          </div>
        </div>
      </main>
    {% endif %}
    

    <footer role="complementary" class="site-footer">
      <div class="container">
        <div class="row about">
          <div class="col-sm-4">
            <img src="/static/img/logo-inverse.png" alt="" title="" />
          </div>

          <div class="col-sm-4">
            <address>
              {{ site_contact_street }}<br />
              {{ site_contact_city }}, {{ site_contact_state }} {{ site_contact_zipcode }}
            </address>
          </div>

          <div class="col-sm-4">
            <p>
              Phone: {{ site_contact_phone }}<br />
              Fax: {{ site_contact_fax }}
            </p>
          </div>
        </div>
        <div class="row copyright">
          <div class="col-sm-6">
            <p>&copy; {{ site_copyright }} {{ site_name }}, All rights reserved.</p>
          </div>
          <div class="col-sm-6">
            <p><a class="pull-right" href="#" title="Read this applications Disclaimer and Use Policy">Terms of Use</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/static/js/application.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ google_analytics_account }}']);
      _gaq.push(['_setDomainName', '{{ google_analytics_domain }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
  </body>

</html>