{% extends 'default.html' %}
{% set page = page %}

{% block content %}

{% include 'includes/map-national.html' %}

<h1>Ashtracker</h1>

<p class="lead">Tracking groundwater contamination at coal combustion waste disposal sites.</p>

<p><a href="http://www.environmentalintegrity.org/" target="_blank" title="Visit the Environmental Integrity Project's website">Environmental Integrity Project</a> developed Ash Tracker to help people access information about how coal ash landfills and impoundments impact the areas around them. These facilities can be enormous. Little Blue Run, for example, the largest impoundment in the United States is nearly 1,700 acres- so large it can be seen from space. Many of these facilities are also unlined- meaning that the ash products are dumped into an earthen pit with no barrier to prevent pollutants from migrating to groundwater. Ash Tracker is built around a map so that people can not only understand where the disposal sites are located in the community, but also where the groundwater samples are taken from in relation to disposal facilities.</p>

<p>	Most states with ash disposal facilities require operators to perform some level of groundwater monitoring. Because there are currently no federal regulations of this industry, monitoring requirements vary greatly from state to state.  Operators are required to take samples from these wells between once and four times a year and have a testing laboratory analyze them for contaminants associated with ash. However, many contaminants found in coal ash are not routinely monitored, and we note these deficiencies on Ash Tracker.</p>

<p>	Please note that this is a work in progress. We will be uploading more site-specific data over the course of the next year. Please email <a href="mailto:officemanager@environmentalintegrity.org">officemanager@environmentalintegrity.org</a> or call 202-296-8800 if you have questions about Ash Tracker.</p>

<div class="row">
  <div class="col-sm-6">
    <h4>Total <strong>Facilities</strong></h4>
    <span class="statistic">56</span>
  </div>
  <div class="col-sm-6">
    <h4>Total <strong>Wells</strong></h4>
    <span class="statistic">867</span>
  </div>
</div>

{% endblock %}