{% extends 'default.html' %}
{% set page = page %}

{% block content %}

{% include 'includes/map-national.html' %}

<h1>Ashtracker</h1>

<p class="lead">Tracking groundwater contamination at coal combustion waste disposal sites.</p>

<p><a href="http://www.environmentalintegrity.org/" target="_blank" title="Visit the Environmental Integrity Project's website">Environmental Integrity Project</a> developed Ash Tracker to help people access detailed information about groundwater contamination near areas used to dispose of ash, scrubber sludge or other wastes from coal burning power plants.  The map allows viewers to locate monitoring wells at these sites and review data on specific concentrations of pollutants such as arsenic, selenium and lead that have accumulated in groundwater above federal health advisory levels. <a href="/glossary">See the glossary for more information on these standards</a>.</p>

<p>Clicking on one of the sites zooms you into facility level view, along with a list of pollutants that have been detected there. Scroll down for a description of the site and also for a link where you can download raw groundwater monitoring data. Clicking one of the red or green wells, brings up a close-up view of where the monitoring well is located Wells colored red are locations where arsenic, boron, manganese or other pollutants have been measured in concentrations that exceed federal standards that protect public health.   A panel on the left-hand side identifies the specific pollutants that have exceeded these levels, and includes links that provide access to more detailed data about all pollutants measured at the site.</p>

<p>At red wells, levels, the pollutants that have exceeded federal health-based standards at the site are identified in pink and pollutants found at that well are identified in bright red. Clicking on one of the pollutants in bright red brings up summary statistics for any exceedance of the federal standards at that well location. <a href="/about">See the “About Ash Tracker” page for more information on how are data are obtained, and its limitations</a>.</p>


<div class="row">
  <div class="col-sm-6">
    <h4>Total <strong>Facilities</strong></h4>
    <span class="statistic">56</span>
  </div>
  <div class="col-sm-6">
    <h4>Total <strong>Wells</strong></h4>
    <span class="statistic">867</span>
  </div>
</div>

{% endblock %}