{% extends "base.html" %}
{% set page = page %}

{% block content %}
    <h2>{{ page.title }}</h2>
    {{ page.html|safe }}

    <table class="table">
      <tbody>
    {% for page in pages %}
      {% if page.path.startswith('facilities') and not page.path.endswith('facilities') %}
        <tr>
            <td>{{ page.title }}</td>
            <td><a href="{{ page.data_zip }}">download</a></td>
        </tr>
      {% endif %}
    {% else %}
        <li>No stuff.</li>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}