{% extends "base.html" %}
{% set page = page %}

{% block content %}

    {{ page.html|safe }}
    {% if page.pollutants|length >= 0 %}
    {% endif %}
    
    <div class="row">
        <div class="col-sm-9">
            <a class="navbar-brand">Drinking Water Contaminants</a>
            </div><!-- col -->
              
              <div class="col-sm-9">
               <a class="navbar-brand">Drinking Water Standards and Health Advisories</a>
               </div><!-- col -->
               
               <div class="col-sm-9">
              <a class="navbar-brand">Well Designations</a>
              </div><!-- col -->
            
            <div class="col-sm-9">
            <a class="navbar-brand">National Inventory of Dams Criteria</a>
        </div><!-- col -->
        
    </div>
    
{% endblock content %}
{% block glossary_content %}

<div class="entry-content">
    
    <div class="col-sm-12 glossary-container">
        <div class="row glossarytext">
			<h3>Drinking Water Contaminants</h3>
                <ul>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=10&amp;tid=2" target="_blank"><b>Ammonia</b></a> [Agency for Toxic Substances and Disease Registry (ATSDR)]</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/antimony.cfm"><b>Antimony</b></a> [Environmental Protection Agency (EPA)]</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/arsenic.cfm"><b>Arsenic</b></a> (EPA)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=326&amp;tid=57"><b>Barium</b></a> (ATSDR)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/beryllium.cfm"><b>Beryllium</b></a> (EPA)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=452&amp;tid=80"><b>Boron</b></a> (ATSDR)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=47&amp;tid=15"><b>Cadmium</b></a> (ATSDR)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=61&amp;tid=17"><b>Chromium</b></a> (ATSDR)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/copper.cfm"><b>Copper</b></a> (EPA)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/cyanide.cfm"><b>Cyanide</b></a> (EPA)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/fluoride.cfm"><b>Fluoride</b></a> (EPA)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/radionuclides.cfm"><b>Gross Alpha Particle</b></a> (EPA)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/radionuclides.cfm"><b>Gross Beta Particle</b></a> (EPA)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/lead.cfm"><b>Lead</b></a> (EPA)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=101&amp;tid=23"><b>Manganese</b></a> (ATSDR)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/mercury.cfm"><b>Mercury</b></a> (EPA)</li></br>
                    <li><a href="http://www.who.int/water_sanitation_health/dwq/chemicals/molybdenum.pdf"><b>Molybdenum</b></a> [World Health Organization (WHO)]</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=244&amp;tid=44"><b>Nickel</b></a> (ATSDR)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tfacts204.pdf"><b>Nitrate</b></a><b> </b>(ATSDR)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tfacts204.pdf"><b>Nitrite</b></a> (ATSDR)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/radionuclides.cfm"><b>Radium 226 &amp; 228</b></a> &nbsp;(EPA)</li></br>
                    <li><a href="http://water.epa.gov/drink/contaminants/basicinformation/selenium.cfm"><b>Selenium</b></a> (EPA)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=538&amp;tid=97"><b>Silver</b></a> (ATSDR)</li></br>
                    <li><a href="http://www.epa.gov/radiation/radionuclides/strontium.html"><b>Strontium</b></a> (EPA)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=308&amp;tid=49"><b>Thallium</b></a> (ATSDR)</li></br>
                    <li><a href="http://www.epa.gov/radiation/radionuclides/tritium.html"><b>Tritium</b></a> (EPA)</li></br>
                    <li><a href="http://www.atsdr.cdc.gov/toxfaqs/tf.asp?id=439&amp;tid=77"><b>Uranium</b></a> (ATSDR)</li></br>
                </ul>
        </div>
    </div>
    
    <div class="col-sm-12 glossary-container">
        <div class="row glossarytext">
          <h3>Drinking Water Standards and Health Advisories</h3>
           <ul>
            <li><a href="http://www.epa.gov/safewater/consumer/pdf/mcl.pdf"><b>Maximum Contaminant Level (MCL)</b></a><p>– The highest level of a contaminant that is allowed in drinking water. MCLs are set as close to Maximum Contaminant Level Goals (MCLG) as feasible using the best available treatment technology and taking cost into consideration. MCLs are enforceable standards.</p></li></br>
            <li><a href="http://www.epa.gov/safewater/consumer/pdf/mcl.pdf"><b>Maximum Contaminant Level Goal (MCLG)</b></a><p> – The level of a contaminant in drinking water below which there is no known or expected risk to health. MCLGs allow for a margin of safety and are non–enforceable public health goals.</p></li></br>
            <li><a href="http://water.epa.gov/action/advisories/drinking/upload/dwstandards2012.pdf"><b>Lifetime Health Advisory (LHA)</b></a><p> – The concentration in drinking water that is not expected to cause any adverse non–carcinogenic effects for a lifetime of exposure. LHAs are based on the assumed drinking water consumption rate of 2 liters of water per day for a 70kg (154 lbs.) adult.</p></li></br>
            <li><a href="http://water.epa.gov/action/advisories/drinking/upload/dwstandards2012.pdf"><b>Child Health Advisory (CHA)</b></a><p> – The concentration in drinking water that is not expected to cause any adverse non-carcinogenic effects during a one or ten day exposure period. CHAs are based on the assumed drinking water consumption rate of 1 liter per day for a 10kg (22 lbs.) child.</p></li></br>
        </ul>
      </div>
    </div>
        
    <div class="col-sm-12 glossary-container">
        <div class="row glossarytext">
          <h3>Well Designations</h3>
            <p>Note: Upgradient/background wells and sidegradient wells are not always indicative of naturally occurring concentrations of pollutants. Wells listed with these designations may be contaminated by leaching pollutants from coal combustion waste (CCW) impoundments.</p>
                <ul>
                <li><b>Upgradient/Background Well</b> – Water samples tested from these wells show naturally occurring (background) concentrations of contaminants in groundwater. These wells are presumed to be located in groundwater areas that have not been impacted (contaminated) by leaching pollutants from CCW impoundments.</li></br>
                <li><b>Downgradient/Compliance Well</b> –Water samples collected at these wells show the level of groundwater contamination in an aquifer as a result of leaching pollutants from a CCW landfill.</li></br>
                <li><b>Sidegradient Well</b> – Water samples collected at these wells characterize local groundwater quality and should not be impacted by the CCW</li></br>
                <li><b>Intermediate Well</b> – Groundwater wells situated at a depth between the shallow and deep aquifer.</li></br>
                <li><b>Sentinel Well</b> – Groundwater wells located between an upgradient and downgradient well that warn of groundwater contamination moving down the hydraulic gradient of an aquifer toward a downgradient well.</li></br>
                <li><b>Monitoring Point/Assessment Well</b> – Groundwater wells in which the designation (upgradient or downgradient) of the well is not defined; however, groundwater is tested from these wells determine to contaminant concentrations.</li></br>
                <li><a href="http://www.ch2m.com/corporate/markets/environmental/conferences/battelle/CH2M-HILL-groundwater-surface-interface.pdf"><b>Groundwater-Surface Water Interface (GSI) Well</b></a> – Well that collect water samples from the area between the shallow surface water column and the shallow groundwater zone.</li></br>
                <li><a href="http://www.arcc.osmre.gov/Divisions/TSD/Techservices/hydrology/TGD/2012/OSM-AR-TSD-WESB-GUIDANCE%20DOC-Well%20Purging.pdf"><b>Purge/Capture Well</b></a> – Groundwater is removed from an aquifer using these types of wells in order to obtain water samples that characterize local groundwater quality.</li></br>
                </ul>
        </div>
    </div>
    
    <div class="col-sm-12 glossary-container">
        <div class="row glossarytext">
         <h3>National Inventory of Dams Criteria</h3>
            <p>Note: The hazard potential ratings refer to the potential for loss of life or damage if there is a dam failure. The ratings do not refer to the structural stability of the dam.</p>
            <ul>
            <li><strong>High Hazard Potential –</strong>Dams assigned the high hazard potential classification are those where failure or mis-operation will probably cause loss of human life.</li></br>
            <li><strong>Significant Hazard Potential – </strong>Dams assigned the significant hazard potential classification are those dams where failure or mis-operation results in no probable loss of human life, but can cause economic loss, environment damage, disruption of lifeline facilities, or impact other concerns. Significant hazard potential classification dams are often located in predominantly rural or agricultural areas, but could be located in populated areas with significant infrastructure.</li></br>
            <li><strong>Low Hazard Potential – </strong>Dams assigned the low hazard potential classification are those where failure or mis-operation results in no probable loss of human life and low economic and/or environmental losses. Losses are principally limited to the owner’s property.</li></br>
            <li><strong>Less Than Low Hazard Potential – </strong>Dams which do not pose high, significant, or low hazard potential.</li></br>
            </ul>
        </div>
    </div>

</div>
{% endblock %}