<div class="contaminants">
  <div class="element">NH-3</div>
  <div class="element">Sb</div>
  <div class="element">As</div>
  <div class="element">Ba</div>
  <div class="element">Be</div>
  <div class="element">B</div>

  <div class="element">Cd</div>
  <div class="element">Cr</div>
  <div class="element">Cu</div>
  <div class="element">Cn</div>
  <div class="element">F</div>
  <div class="element">GAP</div>

  <div class="element">GBP</div>
  <div class="element">Pb</div>
  <div class="element">Mg</div>
  <div class="element">Hg</div>
  <div class="element">Mo</div>
  <div class="element">Ni</div>

  <div class="element">Ra</div>
  <div class="element">Se</div>
  <div class="element">Ag</div>
  <div class="element">Sr</div>
  <div class="element">Tl</div>
  <div class="element">H-3</div>

  <div class="element">U</div>

{% for pollutant in page.pollutants %}
  {% if pollutant.type != '' %}
    <div class="element">{{ pollutant.type }}</div>
  {% endif %}
{% endfor %}
</div>

