<div class="row">
  <div class="col-lg-2"><p class="element">NH-3</p></div>
  <div class="col-lg-2"><p class="element">Sb</p></div>
  <div class="col-lg-2"><p class="element">As</p></div>
  <div class="col-lg-2"><p class="element">Ba</p></div>
  <div class="col-lg-2"><p class="element">Be</p></div>
  <div class="col-lg-2"><p class="element">B</p></div>
</div>

<div class="row">
  <div class="col-lg-2"><p class="element">Cd</p></div>
  <div class="col-lg-2"><p class="element">Cr</p></div>
  <div class="col-lg-2"><p class="element">Cu</p></div>
  <div class="col-lg-2"><p class="element">Cn</p></div>
  <div class="col-lg-2"><p class="element">F</p></div>
  <div class="col-lg-2"><p class="element">GAP</p></div>
</div>

<div class="row">
  <div class="col-lg-2"><p class="element">GBP</p></div>
  <div class="col-lg-2"><p class="element">Pb</p></div>
  <div class="col-lg-2"><p class="element">Mg</p></div>
  <div class="col-lg-2"><p class="element">Hg</p></div>
  <div class="col-lg-2"><p class="element">Mo</p></div>
  <div class="col-lg-2"><p class="element">Ni</p></div>
</div>

<div class="row">
  <div class="col-lg-2"><p class="element">Ra</p></div>
  <div class="col-lg-2"><p class="element">Se</p></div>
  <div class="col-lg-2"><p class="element">Ag</p></div>
  <div class="col-lg-2"><p class="element">Sr</p></div>
  <div class="col-lg-2"><p class="element">Tl</p></div>
  <div class="col-lg-2"><p class="element">H-3</p></div>
</div>

<div class="row">
  <div class="col-lg-2"><p class="element">U</p></div>
</div>
