body {
  margin: 0;
  padding: 0;
}

.site-header,
.site-content,
.site-footer {
  bottom: 0;
  position: relative;
  top: 0;
  width: 40%;
}

.site-content {
  padding: 0 20px;
}

.site-footer {
  border-top: 1px solid rgb(222,222,222);
  bottom: 0;
  padding: 20px;
  position: absolute;
  top: auto;
}

  #map {
    bottom: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
  }
