body {
  margin: 0;
  padding: 0;
}

.navbar {
    margin-bottom: 0px;
}

a {
    color: white;
}

li {
    margin: 35px;
    display: inline;
    list-style: none;
}

.about {
    padding: 20px;
    background-color: #F1F2F2;
}

.col-sm-4 {
    z-index:9999;
}

.mapcontainer {
    padding-left: 0px;
}

.navbar-brand {
    text-transform: uppercase;
}

.pollutant {
}

.owner {
   background-color: #D1D3D4;
}

.owner-hazard-block {
  background-color: #D1D3D4;
  border-bottom: 3px solid #B08560;
}

.sidebar {
    padding-right: 0;
}

.site-header {
  background-color: #164759;
}

.site-header,
.site-content,
.site-footer {
}


.site-footer {
  border-top: 1px solid rgb(222,222,222);
  bottom: 0;
  padding: 20px;
  position: absolute;
  top: auto;
  background-color: #164759; 
}

.sidebar {
    background-color: gray;
}

.topnav {
    margin-top: 18px;
}

#map {
    display: block;
    width: 100%;
    height: 600px;  
}
