body {
  margin: 0;
  padding: 0;
}

.site-header,
.site-content,
.site-footer {
  bottom: 0;
  position: relative;
  top: 0;
  width: 40%;
}

.site-content,
.site-footer {
  padding: 0 20px;
}

  #map {
    bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
  }
