body  {
    font-family: "proxima-nova", sans-serif;
    
}

h1 {
    color: white;
	font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
	font-size: 18px;
    line-height:1.2;
}

h3 {
    color: #164759;
	font-size: 14px;
    line-height: 1.5;
	padding-top: 8px;
	padding-bottom: 8px;
}

p {
    font-weight:400;
    font-size: 12px;
    color: #164759;
}

address, small{
    font-size: 12px;
    color: #AAB4B4;
}

.telephone a {
    color: #AAB4B4;
}

.facility h3,
.well h3 {
    text-transform: uppercase;
}

