          <div class="col-sm-4" data-ng-repeat="grant in grants.features">
          <article class="template">
            <h1>{{ grant.properties.grant_name }}</h1>
            <h2>{{ grant.properties.grant_buyer}}</h2>
            <p>{{ grant.properties.grant_description | characters:140 }}</p>
            <p>
              <span><span class="glyphicon glyphicon-calendar"></span> {{ grant.properties.grant_decision_date | date:"MMMM yyyy" }}</span>
              <span class="pull-right">${{ grant.properties.grant_payment_amount | number:0 }}</span>
            </p>
          </article>
         </div>