<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="robots" content="{% if page.robots %}{{ page.robots }}{% else: %}{{ 'index,follow,archive' }}{% endif %}" />

    <meta name="google-site-verification" content="{{ google_site_verification }}" />

    <meta name="author" content="{{ page.page_author }}" />
    <meta name="description" content="{{ page.page_description }}" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ page.title }}" />
    <meta property="twitter:url" content="{{ page.path }}" />

    <meta name="author" content="{{ page.page_author }}" />
    <meta name="description" content="{{ page.page_description }}" />

    <meta property="og:site_name" content="{{ site_name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.path }}" />
    <meta property="og:title" content="{{ page.title }}" />

    <meta name="dcterms.type" content="Text" />
    <meta name="dcterms.identifier" content="{{ page.path }}" />
    <meta name="dcterms.format" content="text/html" />
    <meta name="dcterms.title" content="{{ page.title }}" />

    <meta name="fragment" content="!" />

    <title>{{ page.title }} | {{ site.name }}</title>

    <script src="{{ site.baseurl }}static/lib/mapbox/mapbox-1.4.0.min.js"></script>    
    <script src="{{ site.baseurl }}static/lib/leaflet/leaflet.markercluster.min.js"></script>    
    <script src="{{ site.baseurl }}static/lib/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}static/lib/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    
    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/pjg5jkf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!-- Commons Cloud -->
    <link href="{{ site.baseurl }}static/lib/mapbox/mapbox-1.4.0.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}static/css/application.css" rel="stylesheet" type="text/css" /> 

    <!--[if lt IE 9]>
        <script src="{{ site.baseurl }}static/js/html5.js"></script>
    <![endif]-->

  </head>

  <body class="{{ page.page_class }}">
    
    <header class="site-header">
      <div class="brand-container">
        <a class="brand" href="{{ site.baseurl }}"></a>
      </div>
      <nav role="navigation">
        <ul class="nav nav-justified">
          <li class="dropdown">
            <a href="{{ site.baseurl }}facilities" class="facilities dropdown-toggle" data-toggle="dropdown">Facilities <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% for facility in site.posts %}
                {% if facility.layout == 'facility' %}
                 {% if page.url == facility.url %}
                   <li class="active"><a href="{{ facility.url }}">{{ facility.title }}</a></li>
                 {% else %}
                   <li><a href="{{ facility.url }}">{{ facility.title }}</a></li>
                 {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% if page.url == '/downloads' %}
            <li class="active" role="presentation"><a href="{{ site.baseurl }}downloads"><span class="glyphicon glyphicon-download"></span> Downloads</a></li>
          {% else %}
            <li role="presentation"><a href="{{ site.baseurl }}downloads"><span class="glyphicon glyphicon-download"></span> Downloads</a></li>
          {% endif %}
          {% if page.url == '/glossary' %}
            <li class="active" role="presentation"><a href="{{ site.baseurl }}glossary"><span class="glyphicon glyphicon-book"></span> Glossary</a></li>
          {% else %}
            <li role="presentation"><a href="{{ site.baseurl }}glossary"><span class="glyphicon glyphicon-book"></span> Glossary</a></li>
          {% endif %}
          {% if page.url == '/help' %}
            <li class="active" role="presentation"><a href="{{ site.baseurl }}help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
          {% else %}
            <li role="presentation"><a href="{{ site.baseurl }}help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    
    <div id="map" class="site-map"></div>

    <main role="content" class="site-content">
      {{ content }}
    </main>
    
    <footer role="complementary" class="site-footer">
      <div class="container">
        <div class="row about">
          <div class="col-sm-4">
            <img src="{{ site.baseurl }}static/img/logo-inverse.png" alt="" title="" />
          </div>

          <div class="col-sm-4">
            <address>
              {{ site.contact.street }}<br />
              {{ site.contact.city }}, {{ site.contact.state }} {{ site.contact.zipcode }}
            </address>
          </div>

          <div class="col-sm-4">
            <p>
              Phone: {{ site.contact.phone }}<br />
              Fax: {{ site.contact.fax }}
            </p>
          </div>
        </div>
        <div class="row copyright">
          <div class="col-sm-6">
            <p>&copy; {{ site.copyright }} {{ site.name }}, All rights reserved.</p>
          </div>
          <div class="col-sm-6">
            <p><a class="pull-right" href="#" title="Read this applications Disclaimer and Use Policy">Terms of Use</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ site.baseurl }}static/js/application.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google.analytics_account }}']);
      _gaq.push(['_setDomainName', '{{ site.google.analytics_domain }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
  </body>

</html>