---
layout: default
---
<h1>{{ page.title }}</h1>

<address>
  {{ page.address.street }}<br />
  {{ page.address.city }}, {{ page.address.state }} {{ page.address.zipcode }}<br >
  {{ page.address.county }}
</address>

<script>

/**
 * GeoJSON for the Facility
 */
var facility = {
    "type": "Point",
    "coordinates": [
        {{ page.coordinates[0] }},
        {{ page.coordinates[1] }}
    ]
}

/**
 * GeoJSON for the Facilities' Wells
 */
var facility_wells = {
  "type": "FeatureCollection",
  "features" : [{% for well in site.posts %}{% if well.layout == 'well' && page.url == well.facility_url  %}
      {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [
              {{ well.coordinates[0] }},
              {{ well.coordinates[1] }}
          ]
        },
        "properties" : {
          "title": "{{ well.title }}"
        }
      }{% if forloop.last %}{% else %},{% endif %}{% endif %}{% endfor %}
  ]
}

</script>


<div class="post">
{{ content }}
</div>
