---
layout: default
---
<script>

var params, map;

/**
 * Grab all of the URL parameters so that we can begin using
 * data from them to set the map extent and zoom
 */
var get_url_parameters = function () {
  params = {};
  window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
    params[key] = value;
  });
};

get_url_parameters();


/**
 * Setup MapBox and load our default map so that we can begin
 * placing the pins we need to display search results
 */
var mapbox_id      = "developedsimple.g7pfo3pa",
    mapbox_mapid   = "map",
    mapbox_extent  = [params.lat || {{ page.coordinates[1] }}, params.lng || {{ page.coordinates[0] }}],
    mapbox_zoom    = params.zoom || 13;    

map = L.mapbox.map(mapbox_mapid, mapbox_id, {maxZoom: 18}).setView(mapbox_extent, mapbox_zoom);

map.scrollWheelZoom.disable();


/**
 * Setup marker clustering
 */
var markers = new L.MarkerClusterGroup({ disableClusteringAtZoom: 18, spiderfyOnMaxZoom: true, showCoverageOnHover: false, zoomToBoundsOnClick: true });

/**
 * Setup Markers
 */
var icon_upgradient_compliant = {
  "iconUrl": "/static/img/pin-upgradient-compliant.png",
  "iconSize": [35, 90],
  "iconAnchor": [35, 35],
  "popupAnchor": [0, -55],
  "className": "upgradient-compliant"
}

var icon_upgradient_violation = {
  "iconUrl": "/static/img/pin-upgradient-violation.png",
  "iconSize": [35, 90],
  "iconAnchor": [35, 35],
  "popupAnchor": [0, -55],
  "className": "upgradient-violation"
}

var icon_downgradient_compliant = {
  "iconUrl": "/static/img/pin-downgradient-compliant.png",
  "iconSize": [35, 90],
  "iconAnchor": [35, 35],
  "popupAnchor": [0, -55],
  "className": "downgradient-compliant"
}

var icon_downgradient_violation = {
  "iconUrl": "/static/img/pin-downgradient-violation.png",
  "iconSize": [35, 90],
  "iconAnchor": [35, 35],
  "popupAnchor": [0, -55],
  "className": "downgradient-violation"
}

/**
 * Add each of our wells to the list
 */
{% for well in site.posts %}
  {% if well.layout == 'well' && page.url == well.facility_url  %}
  var well_{{ forloop.index }} = L.marker(new L.LatLng({{ well.coordinates[1] }}, {{ well.coordinates[0] }})).on('click', function (e) {
    
    var map_current_zoom = map.getZoom();
    
    var temp_baseurl = top.location.host.toString();
    window.location.href = 'http://' + temp_baseurl + '{{ well.url }}?zoom=' + map_current_zoom + '&lat={{ well.coordinates[1]}}&lng={{ well.coordinates[0] }}';  
    map.setView([{{ well.coordinates[1] }}, {{ well.coordinates[0] }}], map_current_zoom);

  });

  {% if well.legend == 'Downgradient, In Compliance' %}
    well_{{ forloop.index }}.setIcon(L.icon(icon_downgradient_compliant));
  {% elsif well.legend == 'Upgradient, In Compliance' %}
    well_{{ forloop.index }}.setIcon(L.icon(icon_upgradient_compliant));
  {% elsif well.legend == 'Downgradient, Not in Compliance' %}
    well_{{ forloop.index }}.setIcon(L.icon(icon_downgradient_violation));
  {% elsif well.legend == 'Upgradient, Not in Compliance' %}
    well_{{ forloop.index }}.setIcon(L.icon(icon_upgradient_violation));
  {% endif %}



  markers.addLayer(well_{{ forloop.index }});
  {% endif %}
{% endfor %}

{% for facility in site.posts %}


  {% if facility.layout == 'facility' and page.facility_url == facility.permalink  %}

  console.log("{{ page.facility_url }} == {{ facility.permalink }}  ... so ... {{ facility.title }} > {{ facility.coordinates[1] }}:{{ facility.coordinates[1] }} ");

    /**
     * Add the facility to the marker list
     */
    var this_facility = L.marker(new L.LatLng({{ facility.coordinates[1] }}, {{ facility.coordinates[0] }}), {
       icon: L.mapbox.marker.icon({
         'marker-size': 'large',
         'marker-color': '2984BD',
         'marker-symbol': 'industrial'
       })
    });
    map.addLayer(this_facility);

  {% endif %}
{% endfor %}


/**
 * Add the marker list to the map
 */
map.addLayer(markers);

</script>


<h5><strong>Well</strong> View <a class="close-well pull-right" href="{{ site.baseurl }}{{ page.facility_url }}">&times;</a></h5>

<h1>{{ page.title }}</h1>

<h4>Designation</h4>
<h2>{{ page.designation }}</h2>

<h4>Contaiminant Status</h4>
<h2>{{ page.legend }}</h2>

<div class="content">
{{ content }}
</div>